<!DOCTYPE html>
<html>

<body>
	<h1>Informations</h1>
	<h2> Here are some informations about pages.</h2>
	<p1 class = "par">You have page /ideas where you can add some new idea.</p1>
	<p2 class = "par">You have page /page/info where you can some inforations.</p2>
	<img class = "slika" src="http://wannabemagazine.com/wp-content/uploads/2011/10/slika-8.jpg" alt="Kuca" style="width:304px;height:228px">
    
    <p2>Liste-uredjena i neuredjena</p2>
	<ol class = "uredjena">
		<li>Pisem</li> 
        <li>Citam</li>
        <li>Plivam</li>
        <li>Gledam</li>
    </ol>

    <ul class="neuredjena">
    	<li>Jedem</li>
        <li>Gledam</li>
        <li>Ucim</li>
        <li>Spavam</li>
    </ul>

   <table id="t01" border="1" frame=void rules=rows style="width:100%">
      <tr>
         <th class="ime">Imena</th>
         <th class="ime">Prezimena</th>
      </tr>
      <tr>
	    <td>Milica</td>
	    <td>Ostojic</td>
	  </tr>
	  <tr>
	    <td>Kristina</td>
	    <td>Satara</td>
	  </tr>
	  <tr>
	    <td>Tijana</td>
	    <td>Sretkovic</td>
	  </tr>
	  <tr>
	    <td>Maja</td>
	    <td>Mandic</td>
	  </tr>

</table> 

</body>

</html>
