// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.par {
    color: green;
    padding-top: 100px;
}
body { text-align: center; background-color: #d0e4fe; background:blue;}
IMG.slika {
    display: block;
    margin-left: auto;
    margin-right: auto }

 .uredjena{
    
    border-width: medium;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-color: red;
 }

.ime { text-align: center;}

table#t01 {
	 background-color: green;
}

td {
    padding: 15px;
}
